<section class="section">
  <div class="container">
    <div id="events">
    <div class="columns">
    
      <% @events.each do |event| %>
      <div class="column">
        <%= render event %>
      </div>
      <% end %>
    </div>  
    </div> 
  </div>
</section>