<section class="section">
  <div class="container">
      <h2 class="title is-2">New Event</h2>
      <%= render "form", event: @event %>
      <%= link_to "Back to events", events_path %>  
  </div>
</section>
