/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $primary: #e6ffde;
 $info: #FFDEDE;
 $link: red;
 $success: green;
 $warning: yellow;
 $danger: red;

 @import "bulma";

.navbar.is-info {
  background-color: #ffebeb;
}

.button.is-info.is-inverted {
  background-color: rgba(56, 56, 56, 0.7);
}

.card {
  width: min(20vw);
}

.columns {
  flex-wrap: wrap;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

#controller {
  display: flex;
  height: 74px;
  gap: 15px;
  align-items: center;
  padding: 0.5rem;
}

.attend-btn {
  width: 100%;
}

#attendees {
  display: flex;
  justify-content: center;
}

#attendee-card {
  width: 100%;
}

a.navbar-item:hover {
  background-color: #f14668;
}

.navbar-brand .navbar-item:hover {
  background-color: #f14668;
}

.block.attendees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#attendee-card {
  display: flex;
  justify-content: center;
}